.NavBar{
    text-align: center;
}
footer{
    margin-top: 25px;
    text-align: center;
    background-color: gray;
    color: white;
}
.NavBarButton{
    border-radius: 6px;
    height: 30px;
    width: 110px;
    background-color: #3333ff;
}
.banner1{
    max-height: -50%;
    max-width: -50%;
}
.line{
    height: 2px;
    width: 450px;
    background-color: #3333ff;
}
.Header{
    text-align: center;
    color: blue;
    padding-bottom: 50px;
    padding-top: 50px;
}

.HomePageImage{
    text-align: center;
}
.BlueTextBox{
    height: 70px;
    width: 190px;
    background-color: cornflowerblue;
    text-align: center;
}
.BlackTextBox{
    height: 35px;
    width: 190px;
    background-color: black;
    text-align: center;
}
.GreenTextBox{
    height: 35px;
    width: 100px;
    background-color: green;
    text-align: center;
}
.CareersTextBox{
    height: 50px;
    width: 450px;
    background-color: cornflowerblue;
    text-align: center;
    border: black;
    border-width: 2px;
    border-style: solid;
}